{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
    <style>
        .container-fluid {
            width: 500px;
            padding: 20px;
            margin: 100px auto;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 5px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.07);
        }
    </style>
</head>
<body>
<form id="loginForm" method="post" novalidate>
    {% csrf_token %}
    <div class="container-fluid clearfix">
        <div>
            <h1 class="text-center">Trac Cloud</h1>
        </div>
        <div class="form-group">
            <label>{{ form.username.label }}: </label>
            {{ form.username }}
            <span class="error_msg" style="color:red">{{ form.username.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label>{{ form.password.label }}: </label>
            {{ form.password }}
            <span class="error_msg" style="color:red">{{ form.password.errors.0 }}</span>
        </div>
        <div class="form-group">
            <label for="id_code">{{ form.code.label }}</label>
            <div class="row">
                <div class="col-xs-7">
                    {{ form.code }}
                    <span class="error_msg" style="color: red;">{{ form.code.errors.0 }}</span>
                </div>
                <div class="col-xs-5">
                    <img id="image_code" class="img-rounded" style="cursor: pointer" src="/image/code/">
                    <div class="text-center">
                        <span id="image_refresh" style="color: blue;">Click to refresh</span>
                    </div>
                </div>
            </div>
        </div>
        <button id="loginBtn" class="btn btn-primary" type="button">
            Login
        </button>
        <button id="createBtn" class="btn btn-success" type="button" style="margin-left: 20px">
            Create an account
        </button>
    </div>
</form>

<script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    $(function () {
        imgRefreshEvent();
        loginBtnEvent();
        createBtnEvent();
    })

    function imgRefreshEvent() {
        $('#image_code').click(function () {
            var ran = Math.random();
            $(this).attr('src', '/image/code/?' + ran)
        });
    }

    function loginBtnEvent() {
        $('#loginBtn').click(function () {

                $(".error_msg").empty();

                $.ajax({
                    url: '/login/',
                    type: 'post',
                    data: $("#loginForm").serialize(),
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            location.href = res.url;
                        } else {
                            $.each(res.errors, function (name, data) {
                                $("#id_" + name).next().text(data[0])
                            })
                        }
                    }
                })
            }
        )
        ;
    }

    function createBtnEvent() {
        $('#createBtn').on('click', function () {
            var ran = Math.random();
            $(this).attr('src', '/image/code/?' + ran)
        });
    }

</script>

</body>
</html>