{% extends "layout.html" %}
{% block content %}'
    <div class="container">
        <div style="margin-bottom: 10px">
            <a id="addSiteBtn" type="button" class='btn btn-success'>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> ADD Site</a>
            <div style="float: right; width:300px;">
                <form method="get" action="">
                    <div class="input-group">
                        <input type="text" name="search" class="form-control" placeholder="Search for"
                               value="{{ search_data }}">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Site List</h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
        <div class="modal fade" id="addSiteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="myModalLabel">Add Site</h3>
                    </div>
                    <div id="siteForms">
                        <div class="modal-body">
                            <form class="topSiteForm" novalidate>
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label>Site Type</label>
                                        {{ top_site_form.type }}
                                        <span class="error_msg"
                                              style="color:red;">{{ top_site_form.type.errors.0 }}</span>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Site Name</label>
                                        {{ top_site_form.name }}
                                        <span class="error_msg"
                                              style="color:red;">{{ top_site_form.name.errors.0 }}</span>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>Owner Name</label>
                                        {{ top_site_form.owner_name }}
                                        <span class="error_msg"
                                              style="color:red;">{{ top_site_form.owner_name.errors.0 }}</span>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>GPS</label>
                                        {{ top_site_form.gps }}
                                        <span class="error_msg"
                                              style="color:red;">{{ top_site_form.gps.errors.0 }}</span>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>GPS System</label>
                                        {{ top_site_form.gps_system }}
                                        <span class="error_msg"
                                              style="color:red;">{{ top_site_form.gps_system.errors.0 }}</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="subSite">
                            <div class="modal-footer" style="text-align: left;">
                                <form class="midSiteForm" novalidate style="visibility: hidden;">
                                    <div class="row">
                                        <div class="form-group col-md-2">
                                            <label>Type</label>
                                            {{ mid_site_form.type }}
                                            <span class="error_msg"
                                                  style="color:red;">{{ mid_site_form.type.errors.0 }}</span>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Name</label>
                                            {{ mid_site_form.name }}
                                            <span class="error_msg"
                                                  style="color:red;">{{ mid_site_form.name.errors.0 }}</span>
                                        </div>
                                    </div>
                                    <button type="button" class="addBaseSiteBtn btn btn-primary btn-sm"
                                            style="margin-top: 25px;margin-left: 10px;">add
                                    </button>
                                </form>
                                <form class="baseSiteForm" novalidate style="visibility: hidden;">
                                    <div class="row">
                                        <div class="form-group col-md-2">
                                            <label>Crop</label>
                                            {{ base_site_form.crop }}
                                            <span class="error_msg"
                                                  style="color:red;">{{ base_site_form.crop.errors.0 }}</span>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Crop Year</label>
                                            {{ base_site_form.crop_year }}
                                            <span class="error_msg"
                                                  style="color:red;">{{ base_site_form.crop_year.errors.0 }}</span>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Type</label>
                                            {{ base_site_form.type }}
                                            <span class="error_msg"
                                                  style="color:red;">{{ base_site_form.type.errors.0 }}</span>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Name</label>
                                            {{ base_site_form.name }}
                                            <span class="error_msg"
                                                  style="color:red;">{{ base_site_form.name.errors.0 }}</span>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Size</label>
                                            {{ base_site_form.size }}
                                            <span class="error_msg"
                                                  style="color:red;">{{ base_site_form.size.errors.0 }}</span>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label>Size Unit</label>
                                            {{ base_site_form.size_unit }}
                                            <span class="error_msg"
                                                  style="color:red;">{{ base_site_form.size_unit.errors.0 }}</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="addSubSiteBtn" type="button" class="btn btn-primary">Add Sub-Site</button>
                        <button id="saveBtn" type="button" class="btn btn-success">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(function () {
            addSiteBtnEvent();
            topSiteTypeChangeEvent();
            addSubSiteBtnEvent()
        })

        function addSiteBtnEvent() {
            $('#addSiteBtn').click(function () {
                $('#addSiteModal').modal("show");
            });
        }

        function topSiteTypeChangeEvent() {
            $('.topSiteForm #id_type').change(function () {
                $.ajax({
                    url: '/site/top/type/change/',
                    type: 'post',
                    data: {
                        top_site: $(".topSiteForm #id_type").val()
                    },
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status) {
                            document.getElementsByClassName('midSiteForm')[0].style.visibility = "visible";
                            document.getElementsByClassName('baseSiteForm')[0].style.visibility = "visible";

                            var html = "";
                            for (var i = 0; i < res.data.length; i++) {
                                html += "<option value='" + res.data[i] + "'>" + res.data[i] + "</option>";
                            }
                            $(".midSiteForm #id_type").html(html);
                        } else {
                            $.each(res.errors, function (name, data) {
                                $("#id_" + name).next().text(data[0])
                            })
                        }
                    }
                })
            });
        }

        function addBaseSiteBtnEvent() {
            $('.addBaseSiteBtn').click(function () {
                $('addBaseSiteBtn').parent().parent()
            });
        }

        function addSubSiteBtnEvent() {
            $('#addSubSiteBtn').click(function () {
                var html = $(".subSite").html();
                let new_sub_site = document.createElement('div');
                new_sub_site.classList.add('subSite');
                new_sub_site.innerHTML = html;
                document.getElementById("siteForms").appendChild(new_sub_site)
            });
        }

    </script>
{% endblock %}

